[defaults]
host_key_checking = False
deprecation_warnings = False

[ssh_connection]
# Automatically routes all Ansible execution calls through your secure Bastion jump node
# ssh_args = -o ProxyCommand="ssh -W %h:%p -q ubuntu@PASTE_BASTION_IP_HERE"

