[defaults]
host_key_checking = False
deprecation_warnings = False

[ssh_connection]
# Automatically routes all Ansible execution calls through your secure Bastion jump node
# ssh_args = -o ProxyCommand="ssh -W %h:%p -q ubuntu@PASTE_BASTION_IP_HERE"
# Forces all traffic to tunnel through the Bastion server
ssh_args = -o ProxyJump=ubuntu@18.117.156.134 -o ControlMaster=auto -o ControlPersist=60s
# Speeds up execution by reducing SSH operations
pipelining = True

